<!DOCTYPE html>
<html>
<head>
    <title>{% block titulo %}Título predeterminado{% endblock %}</title>
    <!-- Enlace al archivo CSS de Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Aquí puedes incluir tus propios estilos CSS si los deseas -->
</head>
<body>
    <!-- Contenido de la página -->
    {% block contenido %}
    {% endblock %}
    
    <!-- Los scripts de Bootstrap y jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

    <!-- Aquí puedes incluir tus propios scripts de JavaScript si los deseas -->
</body>
</html>
